.caja {
    text-align: center;
    border: 4px;
    border-color: black;
    padding-bottom: 20px;}

h2,h3{
    font-size:  20px;
    font-weight: bold;
    padding: 40px,25px,5px,25px;
    text-align: center;
    padding-bottom: 20px;}

p {padding-bottom: 20px;}

img{
    height: 100x;
    width: 100%;}

span{
    color: rgb(136, 130, 130);

text-align: top;}

footer {
    margin: 20px;
    padding: 20px,20px,20px,20px;
text-align: right;
color: rgb(59, 59, 59);}

.espacio{
    position: relative;
    text-align: center;
    margin: auto;
    vertical-align: top;
}
.espacio2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pies{
    position: relative;
    text-align: right;
    text-decoration: none;
}
.pies2{
    margin: 25px;
    text-decoration: none;
    color: rgb(95, 95, 95);
}
.dipped{
    height: 40%;
    width: 60%;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 20px;
}